<body>
<div id="theHead">
<h1 class="text-center">Mongo News Scraper</h1>
<nav class="navbar navbar-light bg-faded text-center" id="navButtons">
  <form class="form-inline" action="/" method="GET" id="topNavButtons">
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" id="allArticles">All Articles</button>
  </form>
  <form class="form-inline" action="/saved" method="GET" id="topNavButtons">
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" id="savedArticles">Saved Articles</button>
  </form>
  <form class="form-inline" action="/scrape" method="POST" id="topNavButtons">
    <button class="btn btn-outline-success" type="button" id="scrapeButton">Scrape New Articles</button>
  </form>
</nav>
</div>
    <div id="commentArea">{{this.author}}
      <br/>{{this.comment}}
      <form method="POST" action="/" class="button-size" id="addComment">
        <input type="text" name="author" id="authorInput" placeholder="Name"></input>
        <textarea type="text" name="comment" id="commentInput" placeholder="Comment"></textarea>
        <button type="submit">Post Comment</button>
      </form>
    </div>
  <div id="theArticle">
    <ul>
      {{#each entry}}
        {{#if this.saved}}
        <li>
          <p>
            <span id="theTitle">{{this.title}}</span>
            <br/><a href={{this.link}} target="blank">{{this.link}}</a>
            <form method="POST" action="/deleteArticle/{{this.id}}" class="button-size">
              <button type="submit" id="saveIt">Delete Article</button>
            </form>
          </p>
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <footer>2017 Eric Williams
</footer>
</body>